<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PanoramicData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <PanoramicData.Properties.Settings>
      <setting name="InkTableSegmenterXThreshold" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InkTableSegmenterYThreshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="InkBulletListSegmenterYThreshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PanoramicDataUseBingSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PanoramicDataEnableKeyboardShortcuts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PanoramicDataEnableCalculatedFields" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PanoramicDataEnableStable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanoramicDataStableScaleFactor" serializeAs="String">
        <value>1.8</value>
      </setting>
      <setting name="PanoramicDataStableLabelFontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="PanoramicDataAccesibleSchemas" serializeAs="String">
        <value>titanic,tip,acm,coffee,nfl,nba</value>
      </setting>
      <setting name="PanoramicDataEnableBluetooth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PanoramicDataEnableInkingCommands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PanoramicDataMaxPlotItems" serializeAs="String">
        <value>4000000</value>
      </setting>
      <setting name="PanoramicDataIsMultiSamplingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableKeyboardMultitouchSimulator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RenderFingers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InitialDataSet" serializeAs="String">
        <value>Titanic</value>
      </setting>
    </PanoramicData.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGeocodeService" />
        <binding name="BasicHttpBinding_ISearchService" />
        <binding name="BasicHttpBinding_IImageryService" />
        <binding name="BasicHttpBinding_IRouteService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IGeocodeService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISearchService">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IImageryService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRouteService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService" contract="BingMapService.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService" contract="BingMapService.IGeocodeService" name="CustomBinding_IGeocodeService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService" contract="BingMapService.ISearchService" name="BasicHttpBinding_ISearchService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_ISearchService" contract="BingMapService.ISearchService" name="CustomBinding_ISearchService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageryService" contract="BingMapService.IImageryService" name="BasicHttpBinding_IImageryService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IImageryService" contract="BingMapService.IImageryService" name="CustomBinding_IImageryService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService" contract="BingMapService.IRouteService" name="BasicHttpBinding_IRouteService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IRouteService" contract="BingMapService.IRouteService" name="CustomBinding_IRouteService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!-- gari-srv connections-->
    <add name="panoramicdata" connectionString="Server=tcp:128.148.32.217,21564\HUMBUBCENTRAL;Database=PanoramicData;User ID=test;Password=P@55word;Connection Timeout=30;Max Pool Size=200;" />
    <add name="panoramicdataEntities" connectionString="metadata=res://*/MetaModel.csdl|res://*/MetaModel.ssdl|res://*/MetaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gari-srv.cs.brown.edu,21564\HUMBUBCENTRAL;initial catalog=PanoramicData;persist security info=True;user id=test;password=P@55word;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- localhost connections 
    <add name="panoramicdata" connectionString="Server=localhost\SQLEXPRESS;Database=PanoramicData;Connection Timeout=30;Max Pool Size=200;Trusted_Connection=Yes"/>
    <add name="panoramicdataEntities" connectionString="metadata=res://*/MetaModel.csdl|res://*/MetaModel.ssdl|res://*/MetaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=PanoramicData;persist security info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
  
    <add name="panoramicdata" connectionString="Server=localhost;Database=PanoramicData;Connection Timeout=30;Max Pool Size=200;Trusted_Connection=Yes"/>
    <add name="panoramicdataEntities" connectionString="metadata=res://*/MetaModel.csdl|res://*/MetaModel.ssdl|res://*/MetaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PanoramicData;persist security info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>